@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.blinking-cursor {
  font-size: 24px;
  font-family: monospace;
  animation: blink 1s step-end infinite;
}

.fixed-left {
  position: fixed;
  color: grey;
  left: 0;
  bottom: 0;
  height: 200px;
  border-radius: 20px;
  width: 60px; /* Adjust width as needed */
  background-color: #f8f9fa00; /* Adjust background color as needed */
  box-shadow: 2px 0 5px rgba(0,0,0,0.1);
  padding-right: 30px; /* Optional: Add a subtle shadow for better visibility */
}
